.table-container{
    margin: 2rem 1rem;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 25px -5px var(--primary);
    border-radius: 1rem;
    height: 80vh;
    overflow-y: scroll;
}

.table-container h2 {
    margin: 1.5rem 1rem;
    font-size: 25px;
    letter-spacing: 1px;
}

.table-container h2 span{
    color: var(--primary);
    filter: drop-shadow(0 0 20px var(--primary));
}

.history-table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  .history-table th,
  .history-table td {
    padding: 10px;
    border: 1px solid #ddd; 
    text-align: left;
    word-wrap: break-word;
  }
  
  .history-table thead th {
    background-color: #f2f2f2;
    font-weight: bold; 
  }

  .history-table tr:nth-child(even){
    background: #f2f2f2;
  }

  
  @media (max-width: 768px) {
    .history-table {
      display: block; 
    }
  
    .history-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    .history-table tr {
      display: flex;
      margin-bottom: 10px; 
    }
  
    .history-table th,
    .history-table td {
      flex: 1; 
      font-size: 14px;
    }
  
    .history-table td:first-child {
      font-weight: bold;
    }
  }